.hero img {
    width: 100%;
    height: auto;
}

h1 {
    background-color: blue;
}

@media screen and (min-width:500px) {
    h1 {
        background-color: aqua;
    }
}

@media screen and (min-width:1000px) {
    h1 {
        background-color: palevioletred;
    }
}