body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 15px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px;
}

.about,
.products {
    max-width: 1000px;
    margin: 0 auto;
}

.responsive-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 22%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
}
#newsletterMessage{
    background-color: aqua;
    color: black;
}

footer {
    background-color: #2E7D32;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer .redes img {
    margin: 0 10px;
}